/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    line-height: 1.7;
    font-family: Verdana, Tahoma, sans-serif;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
    /* 
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    */
}

blockquote {
    font-style: italic;
    font-weight: 100;
}

input,
textarea {
   color: inherit;
   font-family: inherit;
   font-size: inherit;
   border: 0;
}
input {
    background-color: initial;
}

button {
    border: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4 {
    text-transform: uppercase;
}
/* End Global Rules */




/* Components */

/* Overlay */
/*
background for only landing section: #landing { position: realtive; }
background for landing section and page header: + add to the header {position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%; 
}
*/

/* Components */


/* CENTERING */
.center-position {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

حددي عرض أقل من 100% بعدين خلى مارجن من اليمين والشمال أوتو
.center-margin {
    margin: 0 auto;
}


.flex-row-centering {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column-centering {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* CENTERING */


.circle {
    border-radius: 50%;
}

/* Start Color Tints */
:root {
    --dark-txt: #666;
    --light-txt: #ddd;
    
    --red-0: #ffe6e6;
    --red-1: #ffcccc;
    --red-2: #ffb3b3;
    --red-3: #ff9999;
    --red-4: #ff8080;
    --red-5: #ff6666;
    --red-6: #ff4d4d;
    --red-7: #ff3333;
    --red-8: #ff1919;
    --red-9: #ff0000;
    --red-10: #800000;

    --orange-0: #fff2e6;
    --orange-1: #ffe5cc;
    --orange-2: #ffd9b3;

/* End Color Tints */

/* Start Box Shadows */
    --sm-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 15%);
    --md-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 15%);
    --lg-shadow: 5px 5px 30px 0 rgba(0, 0, 0, 15%);
 /* inner shadow */
    --inner-shadow: -1px -1px 2px 1px #e8e7e7 inset;
/* bi-clr-shadow */
    --bi-clr-shadow: -3px -3px 10px rgb(78, 179, 78), 3px 3px 10px rgb(86, 86, 128);
/* End Box Shadows */

/* Start Border Radius */
--rounded-border: 4px 100px; /* (from udacity) */
--circle: 50%;
}


                            /* GRID ORGANIZERS, CONTAINERS AND FONT SIZES */

/* Always img { width: 100%; max-width: 100% or 300px; } */
/* about the very small items (like: social media icons) it's enough:
ul {display: flex; flex-wrap; wrap; justify-content: center;} */


/*
Grid bi-Organizer:
one element per row in small and medium devices.
2 elements per row for large screens (in media quiery: min-width: 992px..+)
<< Use it for landing and similiar sections. >>
*/
.grid-bi-org {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    gap: 40px;
}
@media (min-width: 992px) {
    .grid-bi-org {
    grid-template-columns: repeat(2, 1fr);
    }
}



/*
Grid tri-Organizer:
one element per row in small devices.
3 elements per row in medium and large screens (media quiery: min-width: 768px...++)
<< may you can use it for page footer! >>
*/
.grid-tri-org {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    gap: 40px 30px;
}
@media (min-width: 992px) {
    .grid-tri-org {
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
    }
}

/*
Grid quad-Organizer:
one element per row in small devices.
2 elements per row in medium screens (media quiery: min-width: 768px...++)
4 elements per row in large screens (media quiery: min-width: 992px...++)
<< may you can use it for page footer! >>
*/
.grid-quad-org {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    gap: 30px;
}
@media (min-width: 768px) {
    .grid-quad-org {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 992px) {
    .grid-quad-org {
        grid-template-columns: repeat(4, 1fr);
    }
}


/*
Grid cards Organizer: more than 2 items in row in all media quieries.. instead of sm will be once.
 */
 .grid-cards-org {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    gap: 40px 50px;
    justify-content: center;
    align-content: center;
}
@media (min-width: 769px) {
    .grid-cards-org {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}
@media (min-width: 992px) {
    .grid-cards-org {
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    }
}


/* Grid Images Organizer */
.grid-img-org {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 10px;
    justify-content: center;
    align-content: center;
}
@media (min-width: 768px) {
    .grid-img-org {
        grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    }
}
@media (min-width: 992px) {
    .grid-img-org {
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    }
}

.grid-img-org img {
    width: 100%;
    max-width: 100%;
}
/*
مهم عشان الصورة تظبط نعمل العرض 100%
if u wanna make transform scale +1 not 0.8 , put img inside a div with overflow:hodden;
*/



/* Start Containers  */
.container {
    height: 100%;
    width: 100%;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}

/* Medium */
@media (min-width: 768px) {
    .container {
        width: 740px;
    }
}

/* Large */
@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}

/* X Large */
@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}

/* XX Large */
@media (min-width: 1400px) {
    .container {
        width: 1320px;
    }
}
/* End Containers  */



/* Start Font Sizes */
/* Extra Small, Mobile Devices */
html {
    font-size: 16px;
}
body {
    font-size: 18px;
}

h1 {
    font-size: 34px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 22.5px;
}

h4 {
    font-size: 21px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 19px;
}

/* Small, IPads, Tablets */

@media (min-width: 576px) {
    html {
        font-size: 20px
    }
    body {
        font-size: 20px;
    }

    h1 {
        font-size: 42px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 28px;
    }

    h4 {
        font-size: 25px;
    }

    h5 {
        font-size: 23px;
    }

    h6 {
        font-size: 22px;
    }
}

/* Meduim, Small Screens Laptops */

@media (min-width: 768px) {
    html {
        font-size: 23px
    }
    body {
        font-size: 23px;
    }

    h1 {
        font-size: 46px;
    }

    h2 {
        font-size: 35px;
    }

    h3 {
        font-size: 30px;
    }

    h4 {
        font-size: 28px;
    }

    h5 {
        font-size: 27px;
    }

    h6 {
        font-size: 26px;
    }
}

/* Large Screens, Desctops */

@media (min-width: 992) {
    html {
        font-size: 26px;
    }
    body {
        font-size: 26px;
    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 39px;
    }

    h3 {
        font-size: 34px;
    }

    h4 {
        font-size: 32px;
    }

    h5 {
        font-size: 30px;
    }

    h6 {
        font-size: 29px;
    }
}

/* X Large Screens. TV */

@media (min-width: 1200px) {
    html {
        font-size: 28px;
    }
    body {
        font-size: 28px;
    }

    h1 {
        font-size: 52px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 36px;
    }

    h4 {
        font-size: 34px;
    }

    h5 {
        font-size: 33px;
    }

    h6 {
        font-size: 32px;
    }
}

/* XX Large Screens. TV */

@media (min-width: 1400px) {
    html {
        font-size: 30px;
    }
    body {
        font-size: 30px;
    }

    h1 {
        font-size: 56px;
    }

    h2 {
        font-size: 45px;
    }

    h3 {
        font-size: 38px;
    }

    h4 {
        font-size: 36px;
    }

    h5 {
        font-size: 35px;
    }

    h6 {
        font-size: 34px;
    }
}
/* End Font Sizes */